POSTGRES_URL=postgresql://postgres:123456@localhost:5432/test1
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET=5986b76a42549263fe40610a9e643416